//mixins for breakpoint

@mixin mq{
  @media #{$breakpont-md} {
    @content;
  }
}

@mixin e($element){
  &__#{$elemet} {
    @content;
  }
}

@mixin m($modifier){
  &--#($modifier){
    @content;
  }
}

@mixin btn ($margin: 25%, $width:25%, $color:$Beige){

margin: $margin;
width:$width;
color: $color;
@content;

}

@mixin flex ($display:flex, $flex-direction:column, $justify-content:space-around){
  display:  $display;
  flex-direction: $flex-direction;
  justify-content:$justify-content;
  @content;
}

@mixin grid {
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-auto-rows:  minmax(40px, auto);
  grid-gap:10px;
}
@mixin bg-colors($map){
  @each $theme, $color in $map{
    &--#{$theme} {
      background-color:$color;
    }
  }
}
