//font stack

$font-url--google        :           "https://fonts.googleapis.com/css?family=Open+Sans : 200, 400,600";
 $font-family--primary   :           'Open Sans', sans-serif, serif;
 $font-family--secondary :           'sans-serif',serif, Arial;

 //descriptive colors

 $Alabaster :                         #f2f0e6;
 $Almond :                            #efdecd;
 $Aluminum:                           #d6d6d6;
 $Amaranth :                          #e52b50;
 $Amaza :                             #3b7a57;
 $Amethyst:                           #9966CC;
 $Apple:                              #66b447;
 $Apricot:                            #fbceb1;
 $Aqua:                               #00ffff;
 $arsenic:                            #3b444b;
 $Asparagus:                          #87a96b;
 $Aureolin:                           #fdee00;
 $Avocado:                            #568203;
 $Awesome :                           #ff2052;
 $Azure :                             #007fff;
 $Beaver :                            #9f8170;
 $Beige:                              #F5F5DC;
 $White:                              #fff;
 $black:                              #000;
 $scooter:  #39add1;
 $blue1 :                          #0000ff;

 //color usages

$color-primary: $black;
$color-secondary:$Azure;
$color-accent:$scooter;
$color-text-light:$blue1;

//font-weight

$font-weight--thin: 300;
$font-weight--light:500;
$font-weight--bold:600;

//btn-theme-colors

 $ui-colors: (
default :  $Aqua,
success: $Awesome,
error  : $Apple,
warning :$scooter,
info   :   $Azure
);

//breakpoint

$brkpoint-sm: 1px;
$brkpoint-md :768px;
$brkpoint-lg:1100px;

//general layouts

$max-width: 100%;
$brd-rd : 10px;
//grid-col

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-width:1040px;

//theme-color

$grid-colors:(
  'col--12'     : $scooter,
  'col--6'     : $Azure,
  'col--4'     : $Apple,
  'col--3'    : $Awesome,
  'col--5'    : $black,
  'col--7'     : $White,
  'col--8'    : $Aqua
);

//Asset path

$path-img: "../img";
