.grid__col--12[class^="btn"]{
  @include btn(30%, 12%, $color-secondary) {
    @include mq($tablet-width) {
      width:17%;
      margin:auto;
      margin-left:2vw;
      justify-content:space-between;
    }
  }
}
.form {
  & .btn--default {
    display:block;
  }
}
