.btn--default{
  background-color:Azure;
  &:active{

      background-color: blue;
    }
  }

[class^="btn--"] {

  display:flex;
  flex-direction:column;

  margin-bottom:10px;
  width:100%;
  max-width:80%;
padding-left: 130px;
}
.btn {
  @include bg-colors($ui-colors);


  }
.btn--default__colors {
  text-align: center;
}
