.grid__col--12 {
//  display:flex;
//  flex-direction: column;
  background-color:blue;
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
background-color:red;
@include mq($tablet-width){
  background-color: $blue;
}
}

.grid__row {
  @include mq($tablet-width);
  text-align:center;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
