// grid layout

.grid__row{
  text-align:center;
  display: block;
}

//grid col layout

[class^="grid__col"]{
  padding-left:100px;
}
//loop

@for  $i from 1  through $g-col-count {
  .grid__col--#{$i}.theme__colors{
    text-align:left;
  }
}
