//images display

.img{

  &--logo{
    display:block;
    margin:0 auto;
    width: 20%;
    padding: 10px;

  }
  &--avatar{
    width:40%;
    margin:0 auto;

    padding:20px;
  }
  &--frame{
    width:75%;
    padding-right: 30px;



  }
}
