// decorate card

.card{
  font-size:$color-primary;
  font-weight: $font-weight--light;
  font-style: italic;
  text-align: center;
  padding-right:15px;
}

.headline--secondary {
  font-family: $font-family--primary;
  padding-left:20px;
  font-weight:$font-weight--bold;
  padding-right:320px;
}

.headline--primary {
  width:68%;

  font-family:$font-family--secondary;
  font-weight:normal;
  font-style: italic;
  color:$scooter;
}
.container {
  background-color:green;

}
